In [1]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf
import scipy.stats as stats

In [2]:
data_string = '''Observations     706         706         706         706    
R2              0.132       0.131       0.128       0.007   
AdjustedR2     0.121       0.123       0.121       0.002'''

In [3]:
df = pd.read_csv(io.StringIO(data_string), delimiter='\s+', header=None, index_col=0)
df.reset_index()

              0        1        2        3        4
0  Observations  706.000  706.000  706.000  706.000
1            R2    0.132    0.131    0.128    0.007
2    AdjustedR2    0.121    0.123    0.121    0.002

In [4]:
df = df.transpose()
df

0  Observations     R2  AdjustedR2
1         706.0  0.132       0.121
2         706.0  0.131       0.123
3         706.0  0.128       0.121
4         706.0  0.007       0.002

In [5]:
# Заполним столбец значением m
df['m'] = [10,8,6,5]
df

0  Observations     R2  AdjustedR2   m
1         706.0  0.132       0.121  10
2         706.0  0.131       0.123   8
3         706.0  0.128       0.121   6
4         706.0  0.007       0.002   5

In [6]:
df['F_nab'] = (df['R2']/(1-df['R2']))*((df['Observations']-df['m'])/(df['m']-1))
df

0  Observations     R2  AdjustedR2   m      F_nab
1         706.0  0.132       0.121  10  11.760369
2         706.0  0.131       0.123   8  15.031728
3         706.0  0.128       0.121   6  20.550459
4         706.0  0.007       0.002   5   1.235398

In [7]:
alpha = 0.05
df['F_cr'] = stats.f.ppf(1-alpha,df['m']-1,df['Observations'] - df['m'])
df

0  Observations     R2  AdjustedR2   m      F_nab      F_cr
1         706.0  0.132       0.121  10  11.760369  1.893317
2         706.0  0.131       0.123   8  15.031728  2.022681
3         706.0  0.128       0.121   6  20.550459  2.226901
4         706.0  0.007       0.002   5   1.235398  2.384638

In [8]:
df['znachimost'] = df.apply(lambda x : 'znachima' if x['F_nab'] > x['F_cr'] else 'neznachimo', axis = 1)
df

0  Observations     R2  AdjustedR2   m      F_nab      F_cr  znachimost
1         706.0  0.132       0.121  10  11.760369  1.893317    znachima
2         706.0  0.131       0.123   8  15.031728  2.022681    znachima
3         706.0  0.128       0.121   6  20.550459  2.226901    znachima
4         706.0  0.007       0.002   5   1.235398  2.384638  neznachimo