In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Consumption.csv')
df

     Unnamed: 0        yd      ce
0             1   59505.0   57168
1             2   59717.4   55464
2             3   59039.1   56332
3             4   61342.6   55836
4             5   60544.6   54488
..          ...       ...     ...
195         196  390576.6  359372
196         197  391381.5  363896
197         198  389502.6  364428
198         199  388282.1  366224
199         200  388804.1  371236

[200 rows x 3 columns]

In [5]:
model = smf.ols(data=df, formula='np.log(yd)~np.log(ce)').fit()
model.params.round(2)

Intercept    -0.39
np.log(ce)    1.04
dtype: float64

In [6]:
resSq = sum(model.resid**2)

In [7]:
sum_resid = 0
for i in range(len(model.resid)-1):
    sum_resid+=(model.resid[i+1]-model.resid[i])**2

In [8]:
sum_resid/resSq

0.18717003369770474

## H0 отвергается, есть серийная корреляция