In [3]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import scipy.stats as stats
import io

In [4]:
df_lab = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df_lab

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [8]:
model = smf.ols(data = df_lab, formula = 'np.log(output)~np.log(capital)+np.log(labour)').fit()
model.summary(alpha = 0.01).tables[1]

In [14]:
model.t_test('np.log(capital)=0.5')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.2076      0.017    -17.014      0.000       0.174       0.241
==============================================================================

In [15]:
len(df_lab)

569

In [16]:
t_cr = stats.t.ppf(1-0.01/2, len(df_lab) -3)
t_cr

2.584543428450176

In [20]:
# Критическое значение Стьюдента меньше наблюдаемого, коэффициент np.log(capital) значим

In [21]:
beta_cap = 0.2076
st_err=0.017
t_nab = np.abs((beta_cap - 0.5)/st_err)
t_nab

17.2