In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import scipy.stats as stats
import io

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Electricity.csv')
df

        cost        q        pl      sl      pk      sk      pf      sf
0     0.2130      8.0   6869.47  0.3291  64.945  0.4197  18.000  0.2512
1     3.0427    869.0   8372.96  0.1030  68.227  0.2913  21.067  0.6057
2     9.4059   1412.0   7960.90  0.0891  40.692  0.1567  41.530  0.7542
3     0.7606     65.0   8971.89  0.2802  41.243  0.1282  28.539  0.5916
4     2.2587    295.0   8218.40  0.1772  71.940  0.1623  39.200  0.6606
..       ...      ...       ...     ...     ...     ...     ...     ...
153   6.8293    946.6  10642.16  0.0883  43.600  0.1914  51.463  0.7203
154   3.7605    377.0   7432.24  0.2117  74.120  0.2274  33.436  0.5609
155   3.9822    391.0   5826.04  0.1926  78.288  0.0924  44.633  0.7151
156  30.1880   5317.0   9586.63  0.0845  78.008  0.2009  41.840  0.7147
157  67.8562  15220.0   6986.09  0.1451  74.025  0.2596  25.662  0.5945

[158 rows x 8 columns]

In [8]:
model = smf.ols(data=df, formula='np.log(cost)~np.log(q)+np.log(pl)+np.log(pk)+np.log(pf)').fit()
model.summary(alpha=0.05).tables[1]

In [10]:
mod1.t_test('np.log(q)=1')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.8381      0.009    -17.246      0.000       0.820       0.857
==============================================================================

In [11]:
t_cr = stats.t.ppf(1-0.05/2, len(df)-1)
t_cr

1.975189163068866

In [13]:
beta_cap = 0.8381
st_err = 0.009
t_nab = np.abs((beta_cap-1)/st_err)
t_nab

17.988888888888894

In [14]:
### Критическое значение Стьюдента меньше t_nab, значит, принимаем гипотезу Н1, значительно отличается от 1