In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.formula.api as smf

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [3]:
model = smf.ols(data=df, formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)').fit()
hat_output = model.predict()
model.predict()

array([ 2.35989958,  1.34716989,  3.3130779 ,  1.82090689,  1.03983458,
        5.8587148 ,  1.06531002,  1.55498428,  0.81379468,  1.4684784 ,
        1.42691402,  0.72993199,  1.2954135 ,  1.18047975,  1.14403561,
        1.97163239, -1.40792342,  2.64881065,  1.67272941,  0.85864447,
       -0.52432467,  1.62340063,  1.60175018,  0.34378623,  1.47904166,
        1.59523602,  1.82552042,  1.41043394,  2.53071436,  1.8703142 ,
       -0.19605089,  1.56305837,  1.86238377,  0.85801498,  2.17668439,
        1.32592943,  1.34163888,  2.68341674,  1.51511337,  1.10757717,
        3.28302213,  1.82326807,  1.33270466,  0.53995352,  1.56315707,
        1.6835631 ,  3.39917857,  1.1523541 ,  1.62574217,  1.03271288,
        1.65491718,  1.86661549,  3.60003683,  5.0342221 ,  1.73071522,
        5.76252664,  0.48941252,  0.95806217,  0.33583131,  1.03056803,
        2.1978038 ,  3.71648169,  2.87648876,  1.11821811,  0.80414367,
        1.64710272,  0.81197612,  1.56116845,  2.35593082,  3.63663814,
        0.98984735,  2.63958924,  1.40584653,  2.17445702,  1.87794431,
        1.60439783,  1.68841851,  3.23881704,  0.47069217,  2.08203163,
        2.74781709,  1.9503003 ,  1.3105145 , -0.29568828,  1.26494246,
        4.04800838,  2.26550261,  2.03830273,  2.78452614,  0.78793079,
        1.39799063,  2.28597689,  1.41043868,  0.46531524,  1.48710746,
        1.55909222,  2.10060174,  1.29964199,  1.59779943,  1.18949497,
        1.00554508,  1.54127719,  3.68643062,  1.00503937,  2.12426485,
        2.29748873,  3.08901818,  1.62499645,  2.51472242, -0.54725192,
        1.82942344,  3.73343313,  2.23844719,  0.74822874,  1.79754295,
        2.21147893,  1.28033728,  2.80191128,  0.14443161,  2.4125543 ,
        0.73077339,  1.83970359,  2.82701251,  1.14377847,  1.36901282,
        2.4818424 ,  1.09257735,  1.54304681,  5.38099629,  1.09925711,
        2.51276096,  0.99123449,  1.45780059,  1.71938016,  1.50342824,
        2.45153126,  1.09458848,  1.55470048,  0.75664436,  2.19058621,
        1.26193408,  3.17466323,  1.70976115,  0.99811249,  3.41186752,
        0.90943198,  0.7655629 ,  1.24775962,  2.89852706,  1.08726848,
       -0.82050952,  0.68701525,  1.04962846,  1.96933747,  1.54053304,
        3.75554062,  1.28355147,  0.69934151,  0.98955524,  1.27990904,
        1.35047785,  3.98390649,  1.92885484,  1.27054567,  1.39403776,
        3.18432121,  2.39951418,  0.7023917 ,  1.34316577,  1.47366047,
        0.64896607,  2.1470568 ,  0.83742186,  4.54595457,  2.36353683,
        3.17736272,  1.04287267,  1.01912011,  2.51764631,  2.03894889,
        2.27506643,  2.03977106,  1.79965782,  2.21793063, -0.07310235,
        1.64862517,  0.28595602,  4.2619046 ,  2.57596807,  2.36856706,
        3.797344  ,  2.55390767,  1.21310798,  1.816624  ,  0.84549245,
        2.89671325,  1.19667708,  1.72618591,  1.68600668,  2.16028805,
        1.84540138,  3.05236314,  2.07410378,  1.36247294,  2.65120048,
        2.8553276 ,  3.97019593,  0.44718822,  2.65949252,  2.33962166,
        2.21427117,  1.45036621,  1.93643586,  1.41105688, -0.47378644,
        0.68772042,  2.91672676,  4.06564457,  1.91019901,  0.21442993,
        2.34906959, -1.05186358,  0.75279213,  1.47964612,  1.9078989 ,
        2.37705989,  3.65583838, -1.24241332,  1.05794052,  1.54609251,
        1.7041057 ,  0.77983276,  0.68872569,  3.27108143,  1.56885325,
        1.72489302,  1.58898425,  0.51912303,  1.26101045,  2.08919704,
        0.69622913,  1.16378254,  1.92063816,  0.93845179,  2.9107588 ,
        3.43091512,  3.27834145,  1.11543023,  1.70450284,  1.58175682,
       -2.49084787,  0.83341996,  2.43805637,  3.35405131,  0.44359204,
       -1.44831677,  0.04714211,  1.10148157,  1.10064096,  0.43145876,
        1.09938968,  2.74702198,  1.57127225,  1.65831779, -0.23517989,
        2.58384403,  2.78342064,  1.89782194,  0.59694426, -1.34214668,
        2.02563704,  1.65961031,  1.36741818,  3.24262235,  2.3275353 ,
        1.37328568,  0.78581762,  2.23620757,  2.00144217,  0.0838433 ,
        1.64006858,  3.43962462,  1.30054539,  2.68022419,  3.08659676,
        3.32527494,  0.44553456,  1.58540345,  4.50268365,  0.58312337,
        1.46885792,  1.94298907,  1.53024779,  1.40146196,  2.31576942,
        0.79712279,  1.83820721,  3.25244802,  1.04993823,  1.72939766,
        1.34084903, -1.96740353,  0.18872575,  2.86367883,  2.50467125,
        1.46541982,  1.34034654,  0.52623038, -0.20874506,  1.47276263,
        1.55423003,  2.39024796, -0.77450008,  1.7468816 ,  2.71973641,
       -0.01155115,  2.39935676,  1.23507878,  1.87196045,  1.8347086 ,
        1.20588743,  2.24310522,  2.93746068,  1.58342772,  1.52451296,
        0.60985688,  2.81221638,  1.70412178,  0.9208879 ,  0.58246215,
        1.81519122,  2.16189992,  1.4926338 ,  0.62598902,  1.39105625,
        1.20148362,  2.06730977,  3.85407226,  0.99606846,  0.6700241 ,
        3.16293302,  1.34062137,  2.60961157,  4.83128519,  1.06093647,
        2.04047551,  1.25548437,  2.45964635,  1.17721447,  0.87786076,
        0.29406474,  3.17730587,  1.97393183,  3.46541366,  2.0387742 ,
        1.68536539, -1.48548693,  2.06088687,  1.66508213,  7.08477171,
        2.3683455 ,  2.19159264,  1.45342585,  0.72199654,  1.40239487,
        0.86247644,  3.3083156 ,  0.21064122,  1.48028446,  1.65752542,
        1.31741557,  1.12677538,  2.04250973,  1.46251629,  2.93249696,
        2.05335607,  2.06269351,  1.81830053,  2.72185975,  0.72431105,
        2.04684814,  0.85174833,  1.98329961,  1.90276427,  2.26703073,
        0.60486109,  1.40803685,  1.99595604,  0.68749306,  2.81447431,
        2.9954247 ,  3.09312448,  1.3404658 ,  0.72612893,  1.90701982,
        3.36909807,  2.18977719,  2.31622575,  2.25559941,  0.17626663,
        1.39886312,  1.32923817,  0.38185555, -0.72567339,  2.72658798,
        0.87187366,  1.41747515,  3.06350637,  1.62161196,  1.40922408,
        3.8186857 ,  1.4391157 ,  0.73327147,  0.51493224,  1.35913611,
        1.55791061,  2.31718064,  1.73637667,  0.78357674,  1.90088469,
        1.49162379,  4.60820845,  2.08795682,  1.53776294,  0.29960417,
        1.85805567,  3.8747017 ,  1.33570162,  3.01917061,  0.53815758,
        2.74690321,  2.34702787,  3.23662997,  2.10152679, -0.18690735,
        1.76300039,  1.03523913,  1.01507842, -1.39638626,  2.07637387,
        1.24400392,  2.75895492,  0.80150404,  0.89925618,  1.78200937,
        2.16440957,  2.22250129,  1.5334411 ,  1.07900774,  1.2366358 ,
        1.65582596,  1.99003626,  1.52226837,  1.11949065,  1.14134997,
        0.50537695,  0.92342459,  0.40135327,  2.43992061,  0.30783566,
        1.39267337,  2.03789849,  2.13566615,  1.09142518,  2.00762596,
        2.13246369,  1.34154956,  1.88966511,  1.03826981,  2.74581598,
        1.10430346,  2.35258316,  1.34847232,  0.99752617,  0.80755876,
        0.0804874 ,  3.57374537,  0.99420215,  1.3691232 ,  0.95158688,
        1.20188464,  1.22592568,  1.31701884,  1.58844803,  1.43951112,
        3.14144649,  1.30185769,  2.13341762,  0.93996496,  1.43406958,
        0.1971143 ,  1.80864786,  3.80283791,  1.24308204,  2.40335354,
        4.44910821,  2.65449055,  1.60019576,  2.39419208, -0.28412043,
        1.73043201, -0.31371322,  1.14155337,  0.87978155,  2.23873434,
        3.19667689,  5.00317918,  1.3097258 ,  1.35145866,  1.67296572,
        1.09259921,  1.9981821 ,  1.13907163,  2.99713266,  1.76168232,
        1.17422931,  1.38274448,  2.16766179,  1.1893122 ,  0.18039456,
        1.73589801,  3.10774566,  1.04642564,  0.42772151,  3.00899032,
        2.00416893,  1.32456364,  3.12650998,  0.56162474,  1.20601822,
        2.89902608,  1.00646799,  0.96490665,  1.15486815,  0.6076244 ,
        0.12095126,  0.42959918,  1.03101225,  3.80776498,  0.87403014,
        1.09672529,  1.49202459,  1.70499192,  1.39954721,  2.92565562,
        0.85570606,  2.58083101,  1.50976406,  0.98001728,  1.30132877,
       -2.22994703,  2.44380573,  1.63711126,  1.64054955,  0.26568512,
        3.22100352,  1.56602805,  1.88678941,  1.6067065 ,  1.61361806,
        0.90836443,  1.61593065,  1.29352629,  0.97893259,  0.52987338,
        1.00321423,  1.9485324 ,  1.66247313,  2.12637215])

In [4]:
model.params

Intercept         -5.007316
np.log(capital)    0.149343
np.log(labour)     0.720410
np.log(wage)       0.921390
dtype: float64

In [5]:
# Дополним датасет предсказанными знчениями переменной ouput соответсвующей степени
df['out2'] =model.predict()**2
df['out3'] =model.predict()**3
df['out4'] =model.predict()**4
df

       capital  labour     output       wage       out2       out3        out4
0     2.606563     184   9.250759  43.080307   5.569126  13.142578   31.015165
1     1.323237      91   3.664310  27.780016   1.814867   2.444934    3.293741
2    22.093692     426  28.781516  44.467748  10.976485  36.365950  120.483226
3    10.737851      72   4.124642  39.734710   3.315702   6.037584   10.993879
4     1.161365      46   2.890150  34.650709   1.081256   1.124327    1.169114
..         ...     ...        ...        ...        ...        ...         ...
564   2.625403      20   1.424376  33.477545   0.280766   0.148770    0.078829
565   1.276386      61   2.109048  26.300732   1.006439   1.009674    1.012919
566   1.953869     117   6.241870  41.153979   3.796779   7.398146   14.415527
567   1.318527      46   7.902237  66.720139   2.763817   4.594771    7.638684
568   2.832391     161   6.804085  36.618435   4.521459   9.614303   20.443587

[569 rows x 7 columns]

In [7]:
model2 = smf.ols(data=df, formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)+np.log(out2)+np.log(out3)+np.log(out4)').fit()
model2.params

C:\jupiter\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

Intercept         -5.852117
np.log(capital)    0.148561
np.log(labour)     0.846376
np.log(wage)       1.010862
np.log(out2)      -0.011578
np.log(out3)      -0.017367
np.log(out4)      -0.023156
dtype: float64

In [8]:
R2=model2.rsquared
R2_res = model.rsquared

In [9]:
F_obs=((R2 - R2_res)/(1-R2))*((len(df)-7)/3)
F_obs

20.68261472922801

In [10]:
alpha = 0.05
stats.f.ppf(1-alpha,3,len(df)-7).round(2)

2.62

$$ F_{obs}>F_{cr}$$
Н0 отвергаем