In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.formula.api as smf

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [4]:
model = smf.ols(data=df, formula='np.log(output)~np.log(capital)+labour+I(labour**2)+np.log(wage)').fit()
hat_output = model.predict()
model.predict()

array([ 1.86769061,  1.11239188,  3.06233924,  2.06006433,  1.15605497,
        8.16775094,  1.23140951,  1.19058823,  1.05214196,  1.52474333,
        1.10637485,  1.02866811,  1.30956273,  0.96720145,  1.24249899,
        1.5952373 , -0.0467339 ,  2.28555397,  1.34867849,  0.62874547,
        0.04957418,  1.78729662,  1.4007825 ,  1.31230324,  1.18775426,
        1.63239848,  1.81931106,  1.89004792,  2.14527901,  1.45968228,
        0.43068177,  1.6368683 ,  1.94488106,  1.22876421,  1.94711355,
        0.88718393,  1.76045589,  2.33262623,  1.39023101,  1.13185717,
        2.89303102,  1.15949463,  1.38076132,  0.69554817,  1.71941586,
        1.54917403,  3.18917409,  1.55010196,  1.47746062,  1.11588499,
        1.73331156,  1.13059422,  3.64977029,  5.99210217,  1.96679439,
        6.3808538 ,  0.82718275,  1.30644623,  0.69455322,  0.91756978,
        2.15267343,  3.53264572,  2.38726256,  1.34982073,  1.04850078,
        1.82132613,  0.93665302,  1.92321051,  2.09326771,  3.63150097,
        0.77524005,  2.79095799,  1.25797554,  1.90527628,  1.88753834,
        1.18724463,  1.40264053,  2.75659912,  1.12536657,  1.68686316,
        2.10453981,  1.43043458,  0.73618571,  0.83508846,  1.30995727,
        4.41894965,  1.77252613,  1.90074392,  2.1034832 ,  1.14028022,
        1.40688252,  2.06682602,  0.89017074,  0.58621267,  1.2107215 ,
        1.23532815,  1.93790626,  2.1095268 ,  1.49034051,  1.64090371,
        1.37692673,  1.70508189,  3.57821648,  1.66613625,  1.64212317,
        2.18075211,  3.11521047,  1.24261974,  2.63867914,  0.79637002,
        1.7920669 ,  3.51087939,  1.97215947,  0.98200378,  1.36340925,
        1.7645902 ,  1.02430497,  2.64767821,  1.24973505,  1.94382579,
        0.84994954,  1.44987564,  2.48191796,  1.35864694,  1.06128231,
        2.06553006,  0.86308595,  1.75606273,  8.12114245,  2.09490837,
        2.09977581,  1.35438809,  1.34192766,  1.20937495,  1.21093975,
        2.06120671,  1.47308295,  1.12545332,  1.05051518,  2.27836449,
        0.61166145,  2.95127556,  1.94411026,  1.08440973,  3.02632089,
        0.86050757,  1.07736338,  0.69900697,  2.40355979,  1.5278966 ,
       -0.31667707,  0.85015286,  1.05047725,  1.23954713,  1.85068165,
        3.78092979,  1.40846469,  0.88555157,  1.17407618,  1.0501902 ,
        1.39641665,  3.8660343 ,  1.93238667,  1.17499225,  0.61206159,
        2.77022043,  2.06215992,  0.95970871,  1.20334104,  1.10294552,
        1.02603566,  1.70349467,  1.25099126,  4.68054088,  1.76941646,
        3.11931677,  1.28268991,  0.98208417,  2.24478225,  1.90115933,
        1.73698562,  1.54053932,  1.66201741,  1.92907084,  0.92776636,
        1.49343553,  0.94184156,  5.23215682,  2.24243695,  1.63561435,
        4.12022294,  1.98284508,  1.48991795,  1.53144709,  0.87514013,
        2.42945412,  1.58464668,  0.17776376,  1.35869302,  1.90664118,
        1.44460313,  2.70838209,  1.91900526,  1.30491093,  2.31830702,
        2.73394588,  4.14281369,  0.87138288,  2.05565176,  2.13868246,
        2.05771169,  1.34569842,  1.45662714,  1.28551427, -0.4243567 ,
        1.02216986,  2.58323819,  4.46689313,  1.55047436,  0.56030164,
        1.84662062,  2.17730402,  1.81165874,  1.87305305,  1.94022048,
        2.03491241,  3.64340852,  0.16362328,  1.35368743,  1.56031095,
        1.78778347,  0.05432837,  0.47134171,  3.09185448,  1.38660218,
        1.61055965,  0.97772221,  1.21014966,  1.05849613,  1.63253571,
        1.26387697,  1.23225427,  1.39970809,  1.50047856,  2.64458638,
        3.16921264,  2.98481408,  1.29457956,  1.6540674 ,  1.198923  ,
       -0.54184714,  1.05604104,  1.68375301,  3.11414682,  0.28757481,
       -0.28973489,  0.40004328,  1.18751326,  1.35327812,  1.33769082,
        1.29567241,  2.40253147,  1.72994327,  1.58449102,  0.74480447,
        1.93069674,  2.42018444,  1.62282025,  0.664848  ,  0.76433442,
        1.62077013,  1.47897951,  1.30253056,  3.16199852,  1.74202983,
        1.61531072,  0.80039799,  1.62733662,  1.72136024,  0.81408485,
        1.52958746,  3.37161241,  1.36863678,  2.46127739,  2.74774107,
        3.44610123,  0.65370501,  1.03303603,  5.88579687,  0.60077571,
        1.31533711,  1.60646058,  1.77053471,  1.44893036,  1.90566865,
        0.93551773,  1.47358365,  2.83290861,  1.26616433,  1.13877585,
        1.29169955, -0.86376426,  0.0954268 ,  2.47792341,  1.97990116,
        0.96356591,  1.75516804,  0.89058844,  0.79945346,  1.49932337,
        1.37562767,  1.77177805, -0.08188101,  1.71930538,  2.26609538,
        0.25752076,  2.10929762,  0.89508461,  1.44814542,  1.39523271,
        1.14820948,  1.89478845,  2.61307158,  2.37254048,  0.90010623,
        0.86485409,  2.37833941,  1.94257442,  1.03417938,  1.15175221,
        1.66349371,  1.59802548,  2.01552603,  0.65864562,  1.3863272 ,
        1.24854531,  1.70756151,  3.72046293,  1.60423393,  1.38142969,
        2.9528927 ,  1.34941863,  2.23178205,  5.69368232,  1.06213421,
        2.23837194,  1.66967987,  1.99115583,  1.33317225,  1.48305489,
        0.41803159,  2.38974439,  1.57515145,  2.74659367,  2.16732575,
        1.46499866, -0.38596664,  1.91549735,  1.21198732,  5.77594416,
        2.38567885,  2.23569592,  1.25821728,  1.10781109,  1.33983513,
        1.2931232 ,  3.12524294,  1.25838295,  1.38162516,  1.32446207,
        1.45351369,  1.43806664,  2.50408189,  1.36511272,  2.67041645,
        1.84531194,  1.91682962,  1.94219533,  2.68838622,  0.75585887,
        1.82745315,  1.03018087,  1.86734003,  1.42710249,  1.85313486,
        1.12201747,  1.9290053 ,  1.3513017 ,  1.00867127,  2.51819095,
        2.71364007,  2.75315606,  1.63356715,  0.81647131,  1.78276265,
        2.99346245,  2.19920944,  1.93228056,  1.75776151,  0.05320261,
        1.45005398,  1.25046498,  1.12705508,  0.28506096,  2.36508945,
        1.33092443,  0.99657469,  2.6010361 ,  1.24533168,  1.03311609,
        3.50976398,  1.39738626,  0.59799243,  1.39008615,  1.4272187 ,
        1.02591517,  2.37003001,  1.52434101,  1.01101234,  1.59690504,
        0.97771229,  5.87267858,  1.78024499,  1.83195832,  0.73975481,
        1.60010187,  4.48727739,  1.10066772,  2.63460449, -0.93268034,
        2.3310308 ,  2.13290217,  2.76998544,  1.90963188,  0.46329538,
        1.61669258,  1.45272889,  1.14841555,  0.46171684,  1.56313491,
        0.67408857,  2.54138938,  0.94670341,  1.18571926,  1.01370799,
        1.54852776,  1.87746819,  1.31331403,  0.8985434 ,  1.10041089,
        1.67679303,  1.74542905,  1.02286816,  1.11235896,  1.28763631,
        0.63092648,  1.29823558,  1.04689484,  2.00805756, -0.12783702,
        1.62878178,  2.30457587,  1.56357884,  1.09184655,  1.64558283,
        1.66922855,  1.21713781,  1.58025409,  1.08221943,  2.70623073,
        1.72646485,  1.99560527,  1.22146337,  1.12011176,  0.93657458,
        0.78467473,  3.31587681,  0.95420701,  1.65624068,  0.87828773,
        1.0580123 ,  0.82500294,  0.71855966,  1.53075918,  1.21799335,
        2.76919681,  1.00854083,  1.94376109,  1.05360908,  1.32017746,
        0.38720312,  1.68682019,  3.97103867,  1.42540014,  1.653333  ,
        5.63380544,  2.26771295,  1.59813724,  2.1882734 ,  0.63549999,
        2.0693465 ,  0.88690693,  1.19460146,  1.20651381,  1.93422417,
        2.70600145,  4.94882196,  1.29544534,  1.20075827,  1.42436814,
        1.13462878,  1.9063861 ,  1.43910621,  2.64602327,  1.51443439,
        1.86626141,  0.886232  ,  2.16568296,  0.90980433,  0.83675764,
        1.55021167,  2.59041256,  1.22297964,  0.92065751,  2.58311882,
        1.78926114,  1.63685199,  2.84269459,  1.26879932,  0.7476331 ,
        2.41932782,  0.73630003,  1.24191764,  1.22831484,  1.0163974 ,
        0.31070713,  0.22302803,  1.45491642,  3.98966952,  1.31007651,
        1.66952725,  1.02068599,  1.73354596,  1.15117655,  2.75578288,
        1.11618122,  2.07852427,  1.47336833,  1.3262133 ,  0.77627175,
       -0.30831424,  2.1612956 ,  1.11961726,  1.4559779 ,  1.17626919,
        2.78498233,  1.54729824,  1.874347  ,  1.25560599,  1.74534663,
        1.8013022 ,  1.40506345,  1.42754058,  1.02892726,  1.35035733,
        0.99816319,  1.60553559,  1.71884313,  1.72219386])

In [5]:
model.params

Intercept         -1.800391e+00
np.log(capital)    3.346172e-01
labour             1.983452e-03
I(labour ** 2)    -1.739852e-07
np.log(wage)       7.941510e-01
dtype: float64

In [6]:
df['out2'] =model.predict()**2
df['out3'] =model.predict()**3
df['out4'] =model.predict()**4
df

       capital  labour     output       wage      out2       out3       out4
0     2.606563     184   9.250759  43.080307  3.488268   6.515006  12.168015
1     1.323237      91   3.664310  27.780016  1.237416   1.376491   1.531198
2    22.093692     426  28.781516  44.467748  9.377922  28.718377  87.945414
3    10.737851      72   4.124642  39.734710  4.243865   8.742635  18.010390
4     1.161365      46   2.890150  34.650709  1.336463   1.545025   1.786134
..         ...     ...        ...        ...       ...        ...        ...
564   2.625403      20   1.424376  33.477545  1.823465   2.462329   3.325024
565   1.276386      61   2.109048  26.300732  0.996330   0.994500   0.992673
566   1.953869     117   6.241870  41.153979  2.577745   4.138661   6.644767
567   1.318527      46   7.902237  66.720139  2.954422   5.078187   8.728608
568   2.832391     161   6.804085  36.618435  2.965952   5.107944   8.796869

[569 rows x 7 columns]

In [7]:
model2 = smf.ols(data=df, formula='np.log(output)~np.log(capital)+labour+I(labour**2)+np.log(wage)+np.log(out2)+np.log(out3)+np.log(out4)').fit()
model2.params

C:\jupiter\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

Intercept         -1.127457e+00
np.log(capital)    2.165399e-01
labour             1.891116e-03
I(labour ** 2)    -1.612268e-07
np.log(wage)       6.057787e-01
np.log(out2)       2.443701e-02
np.log(out3)       3.665552e-02
np.log(out4)       4.887402e-02
dtype: float64

In [8]:
R2=model2.rsquared
R2_res = model.rsquared

In [9]:
F_obs=((R2 - R2_res)/(1-R2))*((len(df)-7)/3)
F_obs

9.640860093921308

In [10]:
alpha = 0.05
stats.f.ppf(1-alpha,3,len(df)-7).round(2)

2.62

$$ F_{obs}>F_{cr}$$
Н0 отвергаем