In [5]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import scipy.stats as stats
import io

In [11]:
date_string = '''Name Estimate Std.Error
(Intercept) 3446.830     81.840
totwrk        -0.169      0.018
age            2.714      1.472
south        102.272     41.925
male          87.108     35.173
smsa         -54.188     33.193
yngkid       -13.051     50.459
marr          31.360     42.263
union         11.866     38.186'''
date_string

'Name Estimate Std.Error\n(Intercept) 3446.830     81.840\ntotwrk        -0.169      0.018\nage            2.714      1.472\nsouth        102.272     41.925\nmale          87.108     35.173\nsmsa         -54.188     33.193\nyngkid       -13.051     50.459\nmarr          31.360     42.263\nunion         11.866     38.186'

In [12]:
df = pd.read_csv(io.StringIO(date_string), sep='\s+')
df

          Name  Estimate  Std.Error
0  (Intercept)  3446.830     81.840
1       totwrk    -0.169      0.018
2          age     2.714      1.472
3        south   102.272     41.925
4         male    87.108     35.173
5         smsa   -54.188     33.193
6       yngkid   -13.051     50.459
7         marr    31.360     42.263
8        union    11.866     38.186

In [18]:
df['znachimost'] = np.abs(df['Estimate']/df['Std.Error'])
df

          Name  Estimate  Std.Error  znachimost
0  (Intercept)  3446.830     81.840   42.116691
1       totwrk    -0.169      0.018    9.388889
2          age     2.714      1.472    1.843750
3        south   102.272     41.925    2.439404
4         male    87.108     35.173    2.476559
5         smsa   -54.188     33.193    1.632513
6       yngkid   -13.051     50.459    0.258646
7         marr    31.360     42.263    0.742020
8        union    11.866     38.186    0.310742

In [19]:
alpha = 0.05
t = stats.t.ppf(1-alpha/2, 707-9)
t

1.9633684547051231

In [22]:
df['result']= df.apply(lambda x : 'значимо' if x['znachimost'] > t else 'не значимо', axis = 1)
df

          Name  Estimate  Std.Error  znachimost      result
0  (Intercept)  3446.830     81.840   42.116691     значимо
1       totwrk    -0.169      0.018    9.388889     значимо
2          age     2.714      1.472    1.843750  не значимо
3        south   102.272     41.925    2.439404     значимо
4         male    87.108     35.173    2.476559     значимо
5         smsa   -54.188     33.193    1.632513  не значимо
6       yngkid   -13.051     50.459    0.258646  не значимо
7         marr    31.360     42.263    0.742020  не значимо
8        union    11.866     38.186    0.310742  не значимо