In [1]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf

In [2]:
string_data = '''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398'''

In [3]:
df = pd.read_csv(io.StringIO(string_data), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [4]:
df['Факт']

0    3113
1    3083
2    4063
3    3018
4    3630
5    2993
Name: Факт, dtype: int64

In [6]:
df['Факт'].mean()

3316.6666666666665

In [8]:
tss_ = (df['Факт']-df['Факт'].mean())**2
tss_

0     41480.111111
1     54600.111111
2    557013.444444
3     89201.777778
4     98177.777778
5    104760.111111
Name: Факт, dtype: float64

In [12]:
TSS = np.sum((df['Факт']-df['Факт'].mean())**2)
TSS

945233.3333333334

In [14]:
df['Fitted']

0    3094.454
1    2943.580
2    3494.143
3    3111.983
4    3476.914
5    3295.398
Name: Fitted, dtype: float64

In [13]:
df['Fitted'].mean()

3236.078666666667

In [25]:
ESS = np.sum((df['Fitted']-df['Факт'].mean())**2)
ESS

288096.9463873332

In [26]:
RSS = TSS - ESS
RSS

657136.3869460002

In [27]:
R2 = ESS/TSS
R2

0.30478923692985843

In [30]:
R2_adj = 1 - (1-R2)*(700-1)/(700-4)
R2_adj

0.30179263881317675

In [32]:
SER = np.sqrt(RSS)
SER

810.6394925896469