In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')

In [3]:
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [5]:
model = smf.ols(data=df, formula='np.log(output)~ np.log(capital)+np.log(labour)+I(np.log(capital)**2)+I(np.log(labour)**2)').fit()

In [6]:
df['res2']=model.resid**2
df['res']=model.resid

In [8]:
sub_model= smf.ols(data=df, formula='np.log(output)~ np.log(capital)+np.log(labour)+I(np.log(capital)**2)+I(np.log(labour)**2)').fit()

## Гипотезы
$$
H0: \gamma_{1} = \gamma_{2} = \gamma_{3} = \gamma_{4} = \gamma_{5} = \gamma_{6} = 0
$$
$$
H1: \gamma_{1}^2 + \gamma_{2}^2 + \gamma_{3}^2 + \gamma_{4}^2 + \gamma_{5}^2 + \gamma_{6}^2 > 0
$$

In [9]:
St = np.round(len(df)*sub_model.rsquared,2)
St

486.73

In [10]:
Hi2 = stats.chi2.ppf(1-0.05,6)
Hi2

12.591587243743977

$$
nR_{0}^2 > X_{p}^2
$$
Отвергаем гипотезу Н0. Тест указывает на гетероскедастичность